:root {
  --ifm-color-primary: #00a4b8;

  --ifm-navbar-background-color: var(--ifm-color-primary);
  --ifm-navbar-link-color: white;
  --ifm-navbar-shadow: none;
  --ifm-navbar-link-hover-color: var(--ifm-navbar-link-color);

  --ifm-container-width: 900px;
  --ifm-font-size-base: 16px;
}

.blockContent {
  text-align: left;
}

code {
  letter-spacing: 0.02em;
  padding: 2px 4px;
  border-radius: 3px;
}

p code,
span code,
li code {
  border: 1px solid rgb(220, 220, 220);
  background-color: rgba(90, 140, 140, 0.1);
}

code.highlight,
code.redhighlight {
  font-size: 13px;
  line-height: 20px;
  padding: 0 10px 20px 10px;
}

.highlighttable {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  border-collapse: separate !important;
}

.highlighttable .highlight,
.highlighttable .redhighlight {
  padding: 0;
}

code.highlighttable {
  padding-right: 10px;
  margin: 0;
  padding-left: 2px;
  font-size: 12px;
  display: block;
  line-height: 20px;
  white-space: pre;
  color: hsl(210, 100%, 8%);
}

code.highlight,
code.redhighlight,
.highlighttable {
  overflow-x: scroll;
  display: block;
  padding: 0;
  font-size: 13px;
  border: 1px solid rgb(220, 220, 220);
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 3;
}

code.highlight,
code.highlighttable {
  border-left: 4px solid hsl(99, 100%, 42%);
  background-color: rgba(90, 140, 140, 0.1);
}

code.redhighlight {
  border-left: 4px solid hsl(347, 100%, 50%);
  background-color: rgba(180, 80, 80, 0.1);
}

code.highlight,
code.redhighlight {
  width: 100%;
  white-space: pre;
}

.lineno {
  color: rgb(214, 139, 0);
}

.lineno::after {
  content: ';';
  font-size: 0;
}

.highlight + .highlight + .highlight,
.highlighttable + .highlight + .highlight,
.redhighlight
  + .redhighlight
  + .redhighlight
  .highlighttable
  + .redhighlight
  + .redhighlight {
  margin-top: -20px;
}

.note {
  padding: 10px;
  border-radius: 3px;
  background-color: #eff7ff;
  border: 1px solid #ccddff;
  border-left: 4px solid rgb(0, 169, 210);
  margin-bottom: 20px;
}

.note p:before {
  content: 'NOTE:';
  font-weight: bold;
}

.note p {
  margin-bottom: 0px;
}

.note-important {
  padding: 10px;
  border-radius: 3px;
  background-color: #ffcccc;
  border: 1px solid #ff8899;
  border-left: 4px solid rgb(255, 80, 100);
  margin-bottom: 20px;
}

.note-important p:before {
  content: 'IMPORTANT: ';
  font-weight: bold;
}

.note-important p {
  margin-bottom: 0px;
}
